.btn {
  font-weight: bold;
  margin-top: 20px;
}

.btn-success {
  background-color: #DFF0D8;
  color: #42763D;
}

.btn-danger {
  background-color: #F2DEDE;
  color: #D55E4E;
}

.form-group {
  margin-top: 25px;
}

.recipeName {
  margin-top: 80px;
}

.editSubmit {
  margin-top: 25px;
}

.form-control {
  width: 90%;
  margin-left: 5%;
}

.addForm {
  margin-top: 90px;
}